package {{prop.servicePackageName}};

import {{prop.baseServicePackageName}}.BaseService;
import {{prop.entityPackageName}}.{{table.tableName}};

public interface {{table.tableName}}Service extends BaseService<{{table.tableName}}> {
}